<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head lang="en" th:insert="/fragments/header :: header(metaTitle='Tasks List')">
        <title th:id="${metaTitle} ? ${metaTitle} : 'Tasks List'"></title>
</head>

<body>
<div class="container mt-5">
    <a href="/rest/api/tasks/new">Create New Task</a>
    <br/><br/>
    <table class="table table-striped">
        <caption>Tasks List</caption>
        <thead class="table-header">
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Task Cost</th>
            <th>Operations Count</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.taskName}">Task Name</td>
            <td th:text="${task.taskDescription}">Task Description</td>
            <td th:text="${task.taskCost}">Task Cost</td>
            <td th:text="${task.operationsCount}">Task Operations Count</td>
            <td th:text="${task.taskStatus}">Task Status</td>
            <td>
                <a th:href="@{'/rest/api/tasks/edit/'+${task.id}}">Edit</a>
                <a th:href="@{'/rest/api/tasks/delete/'+${task.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br/><br/>
    <div th:if="${!tasks.isEmpty()}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">

        <a th:href="@{'/rest/api/tasks/list?page='+${pageNumber}+'&size='+${pageSize}}"
           th:text="${pageNumber}"
           th:class="(${pageNumber==tasksPage.number + 1} ? 'active':'')"></a>
    </div>
    <br/><br/>

</div>
<div th:insert="/fragments/errorMessage.html :: errorMessage(${errMsg})">
    <p th:text="${errMsg}"></p>
</div>

<br/><br/>
<div lang="en" th:insert="/fragments/footer.html::footer"></div>
</body>
</html>
