<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:insert="fragments/header :: header(metaTitle='Calculator Tasks')">
    <!--/*@thymesVar id="metaTitle" type=""*/-->
    <title th:text="${metaTitle}"></title>
</head>

<body class="container">

<section th:fragment="content">
    <div id="page">
        <div>Calculator Tasks</div>
        <form th:action="@{/rest/api/tasks/home/}" th:object="${items}" method="get">
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <div th:with="condition=${items.size()!=0}">
                        <p>Please select an option</p>
                        <ol>
                            <div th:each="item : ${T(com.example.tasks.saver.dto.enums.ItemNames).items}">
                                <li><a th:href="${item.pageURL()}" target="_blank" th:text="${item.value()}"></a></li>
                            </div>
                        </ol>
                    </div>
                </div>
            </div>
    </form>
    </div>
</section>
<div lang="en" th:insert="fragments/footer :: footer"></div>
</body>
</html>